@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

button:disabled {
  opacity: 0.5;
}
